<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><h2><%= bookmark.movie.title %></h2></li>
    <li><img src=<%= bookmark.movie.poster_url %> alt="j'ai eut réson" width="350"></li>
    <li><h2><%= bookmark.comment %></h2></li>
  <% end %>
</ul>




<p><%= link_to "Create a bookmark", new_list_bookmark_path(@list) %></p>
